.Register {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 36, 36);
  color: white;
}
.Register form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 50%;
  border-radius: 10px;
  box-shadow: grey 0px 0px 20px;
}
.Register form input {
  padding: 1rem 2rem;
  margin: 1rem 0;
}
.Register form button {
  font-size: 1.5rem;
  background-color: #2364f3;
  border: none;
  padding: 0.3rem 2rem;
  border-radius: 10px;
}
